<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'inicio_axolotlmusic' %}">Sistema de Administración AxolotlMusic</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'inicio_axolotlmusic' %}">
                        <i class="fas fa-home"></i> Inicio
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="productosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-compact disc"></i> Productos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="productosDropdown">
                        <li><a class="dropdown-item" href="{% url 'agregar_productos' %}">Agregar Productos</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_productos' %}">Ver Productos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="artistasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-microphone-alt"></i> Artistas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="artistasDropdown">
                        <li><a class="dropdown-item" href="{% url 'agregar_artistas' %}">Agregar Artistas</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_artistas' %}">Ver Artistas</a></li>
                        <!-- Los enlaces de actualizar y borrar se harán desde ver_artistas -->
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pedidosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-shopping-cart"></i> Pedidos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="pedidosDropdown">
                        <li><a class="dropdown-item" href="#">Agregar Pedidos</a></li>
                        <li><a class="dropdown-item" href="#">Ver Pedidos</a></li>
                        <li><a class="dropdown-item" href="#">Actualizar Pedidos</a></li>
                        <li><a class="dropdown-item" href="#">Borrar Pedidos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="detallePedidosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-clipboard-list"></i> Detalles_Pedidos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="detallePedidosDropdown">
                        <li><a class="dropdown-item" href="#">Agregar DetallesPedidos</a></li>
                        <li><a class="dropdown-item" href="#">Ver DetallesPedidos</a></li>
                        <li><a class="dropdown-item" href="#">Actualizar DetallesPedidos</a></li>
                        <li><a class="dropdown-item" href="#">Borrar DetallesPedidos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="usuariosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i> Usuarios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="usuariosDropdown">
                        <li><a class="dropdown-item" href="#">Agregar Usuarios</a></li>
                        <li><a class="dropdown-item" href="#">Ver Usuarios</a></li>
                        <li><a class="dropdown-item" href="#">Actualizar Usuarios</a></li>
                        <li><a class="dropdown-item" href="#">Borrar Usuarios</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>